.example-form {
    min-width: 150px;
    max-width: 500px;
    width: auto;
    margin: 10px;
    border: solid white 1px;
    padding: 5px ;
   }
  
  .example-full-width {
    width: 100%;
  }
  
  
  .example-medium-width{
    width: 50%;
  }

  .list{
    display: flex;

  }

  .example-headers-align{
    margin: 5px;
    
  }