/* layout.component.css */
html, body {
    height: 100%;
    margin: 0;
  }
  
  .layout-container {
    height: 100vh; /* Ocupar toda la altura de la ventana */
    display: flex;  /* Usar flexbox para la distribución */
  }
  
  .sidenav {
    width: 20%; /* Ocupa el 20% de la pantalla */
    display: flex;
    flex-direction: column; /* Alinear verticalmente los componentes dentro */
  }
  
  .content {
    flex: 1; /* Ocupar el espacio restante (80%) */
    padding: 20px; /* Espaciado interno */
  }
  
  .spacer {
    flex: 1; /* Esto empuja los botones a la derecha */
  }

  .ppal-items{
    border-bottom: solid 1px gray;
  }



  .loginButton {
    border: solid 2px rgb(40, 40, 106);
    background-color: transparent; /* Color inicial del fondo */
    color: rgb(40, 40, 106); /* Color del texto */
    transition: background-color 0.5s ease, color 0.3s ease; /* Transición suave para el color de fondo y el texto */
  }
  
  .loginButton:hover {
    background-color: rgb(40, 40, 106); /* Color de fondo en hover */
    color: white; /* Cambiar color del texto en hover */
  }
  
  