.example-card {
  overflow: hidden; /* Evita la barra de desplazamiento */
  margin: 2%;
  }
  
  .example-card-footer {
    width: 100%;
    padding: 16px;
  }

.aliasName{
  color: grey;
  font-size: small;
  margin-top: 5%;
}
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    overflow: hidden; /* Evita la barra de desplazamiento */

  }
  