<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-subtitle>{{authorEmail}}</mat-card-subtitle>
        <!--
        <mat-card-subtitle class="aliasName">{{aliasName}}</mat-card-subtitle>
        -->
        
      
    </mat-card-header>
    <mat-card-content>
      <mat-card-title>{{title}}</mat-card-title>
      <p>{{content}}</p>
    </mat-card-content>
    
   

    <mat-card-footer class="example-card-footer">
      <mat-chip-set aria-label="topics">
      
        
      </mat-chip-set>
    </mat-card-footer>


    <mat-card-actions class="card-actions">
      <div class="example-button-container">
        <button mat-mini-fab class="my-fab" color="cyan" aria-label="Example icon button with a menu icon">
          <mat-icon >favorite</mat-icon>
        </button>
        <button mat-mini-fab class="my-fab"  color="cyan" aria-label="Example icon button with a menu icon">
          <mat-icon >comment</mat-icon>
        </button>
        <button mat-mini-fab class="my-fab"  color="cyan" aria-label="Example icon button with a menu icon">
          <mat-icon >more_vert</mat-icon>
        </button>
      </div>
    </mat-card-actions>
    
   
  </mat-card>
  