<!-- navbar.component.html -->
<nav>
  <mat-list>

    <mat-list-item><a routerLink="/home"> Home</a></mat-list-item>
    <mat-list-item><a routerLink="/popular">Popular</a></mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>

  <mat-accordion class="example-headers-align " multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Games</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        
        <mat-list-item class="itemlist">Action</mat-list-item>
       
        
        


        <mat-list-item class="itemlist">Shooters</mat-list-item>
       
        <mat-list-item class="itemlist">Racing</mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Economics</mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>


  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Politics</mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Sports</mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>


  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Tech</mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</nav>
